/* BG */
:root {
    --main-bg: #ffffff;
    --soft-bg: #ffffff;
    --dark-bg: #ffffff;
  }
  
  /* TEXT */
  :root {
    --main-color: rgb(0, 0, 0);
    --soft-color: #000000;
    --dark-color: #2a3447;
  }
  
  body {
    background-color: var(--main-bg);
    color: var(--main-color);
  }
  